/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

img {
    max-width: 100%;
}
/* reset */

/* common */

/* common */

/* header */

/* header end */

/* main */

/* main end */

/* footer */

/* footer end */